<%= form_for(@blog_post) do |f| %>
  <% if @blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: "Post Title" %>
  </div>

  <div class="form-group">
      <%= f.text_field :author, class: "form-control", placeholder: "Author Name" %>
  </div>

  <div class="form-group">
    <%= f.text_area :blog_entry, class: "form-control", :rows => 20, placeholder: "Speak Your Mind!" %>
  </div>

  <div class="action">
    <%= f.submit class: "btn btn-primary" %>
  </div>

  




  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :blog_entry %><br>
    <%= f.text_area :blog_entry %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
