
<h1>Listing Blog Posts</h1>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= blog_post.title %>
        </div><!-- panel-heading -->
        <div class="panel-body">
          by <%= blog_post.author %><br />
          <p><%= blog_post.blog_entry %></p>
        </div><!-- panel-body -->
        <div class="panel-footer">
          <%= link_to 'Show', blog_post, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
          <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div><!-- panel-footer -->
      </div><!-- panel-default -->
    </div><!-- col-md-6 -->
  <% end %>
</div><!-- row -->

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
